﻿@model ViewModel.Project.VMUser

﻿@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @id = "id_Modal_Body", name = "create-form" }))
{
    <div class="from-group">
        <label for="Nama_Kategori">Nama User</label>
        <input type="text" class="form-control" id="Nama_Kategori" name="Nama_Kategori" placeholder="Masukan Nama Kategori">
        <div class="invalid-feedback" id="val_Kategori" style="display:none; color:red;">User Sudah Ada</div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-warning" />
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        </div>
    </div>
}


@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#create-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
			url: '@Url.Action("Create","User")',
			type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Added");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });

</script>