﻿@model ViewModel.Project.VMUser

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "edit-form", name = "edit-form" }))
{


    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.account_id)

        <div class="form-group">

            <div class="col-md-6">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-6 col-md-6">
                <input type="submit" value="Save" class="btn btn-warning" />
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#edit-form").submit(function () {
       //alert($(this).serialize());
        $.ajax({
			url: '@Url.Action("Edit","User")',
			type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Updated");
                    $(".modal").modal("hide");
                    GetList();
                } else {
					alert("Error!." + result.message);
                }
            }
        });
        return false;
	});
</script>

