﻿@model List<ViewModel.Project.VMUser>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.account_id)
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <ul>
                    <li class="li-Edit" data-id="@item.account_id"><a href="#">Edit</a></li>
                    <li class="li-Deactivate" data-id="@item.account_id"><a href="#">Deactivate</a></li>
                </ul>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">

	 $(".li-Edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "User")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit User");
                $(".modal-body").html(result);
                $(".modal").modal("show");

            }
        });

	})
</script>

